// Custom color for datepicker
.custom-datepicker-theme .mat-form-field-underline,
.custom-datepicker-theme .mat-form-field-ripple,
.custom-datepicker-theme .mat-datepicker-toggle .mat-icon-button,
.custom-datepicker-theme .mat-calendar {
	color: #FFE2D9 !important;
	border-color: #FFE2D9 !important;
}

.custom-datepicker-theme .mat-calendar-body-selected {
	background-color: #FF5200 !important;
	color: #fff !important;
}

.custom-datepicker-theme .mat-calendar-body-today,
.custom-datepicker-theme .mat-calendar-body-active {
	background-color: #FFE2D9!important;
	color: #fff !important;
}
