<div class="theme-selector">
  <!-- Vertical Dropdown -->
  <mat-form-field appearance="outline" class="vertical-select">
    <mat-label>Select vertical</mat-label>
    <mat-select [(ngModel)]="selectedVertical">
      <mat-option *ngFor="let v of verticals" [value]="v">{{ v }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Templates -->
  <!-- <div class="templates-list">
    <div 
      class="template-card" 
      *ngFor="let t of templates"
      [class.selected]="selectedTemplate === t.id"
      (click)="selectedTemplate = t.id">
      
      <img [src]="t.preview" [alt]="t.title" />
      <div class="colors">
        <span *ngFor="let c of t.colors" [style.background]="c"></span>
      </div>
    </div>
  </div> -->
</div>
